[submodule "5.6.4/common"]
	path = 5.6.4/common
	url = https://github.com/tehplayground/common.git
[submodule "5.5.20/common"]
	path = 5.5.20/common
	url = https://github.com/tehplayground/common.git
[submodule "5.4.36/common"]
	path = 5.4.36/common
	url = https://github.com/tehplayground/common.git
[submodule "7.0.10/common"]
	path = 7.0.10/common
	url = git@github.com:tehplayground/common.git
[submodule "5.6.25/common"]
	path = 5.6.25/common
	url = git@github.com:tehplayground/common.git
[submodule "7.0.11/common"]
	path = 7.0.11/common
	url = git@github.com:tehplayground/common.git
[submodule "5.6.26/common"]
	path = 5.6.26/common
	url = git@github.com:tehplayground/common.git
[submodule "5.5.38/common"]
	path = 5.5.38/common
	url = git@github.com:tehplayground/common.git
[submodule "7.0.21/common"]
	path = 7.0.21/common
	url = git@github.com:tehplayground/common.git
[submodule "7.1.7/common"]
	path = 7.1.7/common
	url = git@github.com:tehplayground/common.git
[submodule "7.2.0beta1/common"]
	path = 7.2.0beta1/common
	url = git@github.com:tehplayground/common.git
