[submodule "5.6.4/common"]
	path = 5.6.4/common
	url = https://github.com/tehplayground/common.git
[submodule "5.5.20/common"]
	path = 5.5.20/common
	url = https://github.com/tehplayground/common.git
[submodule "5.4.36/common"]
	path = 5.4.36/common
	url = https://github.com/tehplayground/common.git
[submodule "7.0.10/common"]
	path = 7.0.10/common
	url = git@github.com:tehplayground/common.git
[submodule "5.6.25/common"]
	path = 5.6.25/common
	url = git@github.com:tehplayground/common.git
[submodule "7.0.11/common"]
	path = 7.0.11/common
	url = git@github.com:tehplayground/common.git
[submodule "5.6.26/common"]
	path = 5.6.26/common
	url = git@github.com:tehplayground/common.git
[submodule "5.5.38/common"]
	path = 5.5.38/common
	url = git@github.com:tehplayground/common.git
[submodule "7.0.21/common"]
	path = 7.0.21/common
	url = git@github.com:tehplayground/common.git
[submodule "7.1.7/common"]
	path = 7.1.7/common
	url = git@github.com:tehplayground/common.git
[submodule "7.2.0beta1/common"]
	path = 7.2.0beta1/common
	url = git@github.com:tehplayground/common.git
[submodule "5.6.31/common"]
	path = 5.6.31/common
	url = git@github.com:tehplayground/common.git
[submodule "7.0.22/common"]
	path = 7.0.22/common
	url = git@github.com:tehplayground/common.git
[submodule "7.2.0/common"]
	path = 7.2.0/common
	url = git@github.com:tehplayground/common.git
[submodule "7.1.12/common"]
	path = 7.1.12/common
	url = git@github.com:tehplayground/common.git
[submodule "7.0.26/common"]
	path = 7.0.26/common
	url = git@github.com:tehplayground/common.git
[submodule "5.6.32/common"]
	path = 5.6.32/common
	url = git@github.com:tehplayground/common.git
[submodule "7.4.16/common"]
	path = 7.4.16/common
	url = git@github.com:tehplayground/common.git
[submodule "8.0.3/common"]
	path = 8.0.3/common
	url = git@github.com:tehplayground/common.git
[submodule "7.3.27/common"]
	path = 7.3.27/common
	url = git@github.com:tehplayground/common.git
[submodule "8.1.0/common"]
	path = 8.1.0/common
	url = git@github.com:tehplayground/common.git
[submodule "8.0.13/common"]
	path = 8.0.13/common
	url = git@github.com:tehplayground/common.git
[submodule "7.4.27/common"]
	path = 7.4.27/common
	url = git@github.com:tehplayground/common.git
[submodule "8.1.11/common"]
	path = 8.1.11/common
	url = git@github.com:tehplayground/common.git
[submodule "8.0.24/common"]
	path = 8.0.24/common
	url = git@github.com:tehplayground/common.git
[submodule "7.4.32/common"]
	path = 7.4.32/common
	url = git@github.com:tehplayground/common.git
[submodule "8.2.0/common"]
	path = 8.2.0/common
	url = git@github.com:tehplayground/common.git
[submodule "8.1.12/common"]
	path = 8.1.12/common
	url = git@github.com:tehplayground/common.git
[submodule "8.0.25/common"]
	path = 8.0.25/common
	url = git@github.com:tehplayground/common.git
